<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Awesome musicmashup api!</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
        <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css")" rel="stylesheet" type="text/css" />
        <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
        <script src="@Url.Content("~/Scripts/nav.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/native.history.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
        <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" type="text/javascript"></script>

        <meta name="viewport" content="width=device-width" />
        <script type="text/javascript">
            $(function () {
                var selectedItem = null;
                var audioElem = document.getElementById('audioplayer');
                $.template("songListTemplate", "<li class='song'>${Artist} - ${Title}</li>");
                $.template("songTemplate", "<span>Artist: ${Artist}</span><span>Title: ${Title}</span><span>Album: ${Album}</span><span>Genre: ${Genres}</span>");
                var songs = $.getJSON('/api/music/', function (items) {
                    $.each(items, function (i, item) {
                        $.tmpl("songListTemplate", item).appendTo("#songlist");
                    });
                });
                $(".song").live("click", function () {
                    selectedItem = $.tmplItem(this);
                    var songinfo = $.getJSON(selectedItem.data.Url, function (item) {
                        $("#songinfo").empty();
                        $.tmpl("songTemplate", item).appendTo("#songinfo");
                    });
                    var url = selectedItem.data.Url + '?play=true';
                    $('audio').prop('src', url);
                    audioElem.play();
                });
                //TODO: Make true single page app.. not these stupid click functions
                $('#addsongs').click(function () {
                    $('#songs').hide();
                    $('#upload').show();
                });
                $('#getsongs').click(function () {
                    $('#upload').hide();
                    $('#songs').show();
                });
               
                (function () {
                    var bar = $('.bar');
                    var percent = $('.percent');
                    var status = $('#status');
                    $('#ajaxform').ajaxForm({
                        beforeSend: function () {
                            status.empty();
                            var percentVal = '0%';
                            bar.width(percentVal)
                            percent.html(percentVal);
                        },
                        uploadProgress: function (event, position, total, percentComplete) {
                            var percentVal = percentComplete + '%';
                            bar.width(percentVal)
                            percent.html(percentVal);
                            //console.log(percentVal, position, total);
                        },
                        complete: function (xhr) {
                            status.html(xhr.responseText);
                        }
                    });
                })();
            });
        </script>
    </head>
    <body>
	
    <div id="header-container">
		<header class="wrapper clearfix">
			<h1 id="title">@Html.ActionLink("The MusicMashup api!", "Index", "Home")</h1>
			<nav>
				<ul>
					<li><a id="getsongs" href="#index">All songs</a></li>
					<li><a id="addsongs" href="#addsong">Add song</a></li>
					<li><a id="about" href="#about">About</a></li>
				</ul>

            </nav>

		</header>
	</div>
	<div id="main-container">
		<div id="main" class="wrapper clearfix">
            <article>
			    <section id="player">
                    <audio id="audioplayer" src="" controls="controls" type="audio/mpeg" >
                      Your browser does not support the audio element.
                    </audio>
                    <div id="songinfo">
                    </div>
                </section>
                <section id="songs">
                    <p>Here come the songs</p>
                    <ul id="songlist">
                    </ul>
                </section>
                <section id="upload">
                    <form method="post" id="ajaxform" action="/api/music" enctype="multipart/form-data">
                        <input type="hidden" name="MAX_FILE_SIZE" value="100000">
                        <input type="file" name="file" multiple="true" />
                        <input type="submit" />
                    </form>
                    <div class="progress">                                            
                        <div class="bar"></div>
                        <div class="percent">0%</div>
                    </div>
                </section>
            </article>
			<aside>
				<h3>Guitarparty info here</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices.</p>
			</aside>
			
		</div> <!-- #main -->
	</div> <!-- #main-container -->

	<div id="footer-container">
		<footer class="wrapper">
			<p>&copy; @DateTime.Now.Year - VALUR & ÆVAR</p>
		</footer>
	</div>
   
</body>
</html>

<!--
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here.", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
                <div class="float-right">
                    <ul id="social">
                        <li><a href="http://facebook.com" class="facebook">Facebook</a></li>
                        <li><a href="http://twitter.com" class="twitter">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>-->
