<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Awesome musicmashup api!</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
        <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css")" rel="stylesheet" type="text/css" />
        <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
        <script src="@Url.Content("~/Scripts/nav.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/native.history.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
        <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" type="text/javascript"></script>

        <meta name="viewport" content="width=device-width" />
        <script type="text/javascript">
            var guitargripapikey = '84e36374bfb324fdce0c62a2260d9c0193bfca64';
            var selectedItem = null;
            $.template("songListTemplate", "<li class='song'>${Artist} - ${Title}</li>");
            $.template("songTemplate", "<span>Artist: ${Artist}</span><span>Title: ${Title}</span><span>Album: ${Album}</span><span>Genre: ${Genres}</span>");
            $.template("guitarpartysong", "<h3>${title}</h3><em>{{each authors}}${$value.name}, {{/each}}</em><p>${body}</p><div>{{each chords}}<img src='${$value.image_url}' alt='${$value.name}' title='${$value.name}' />{{/each}}</div>")
            $(function () {
                var audioElem = document.getElementById('audioplayer');
                var songs = $.getJSON('/api/music/', function (items) {
                    $.each(items, function (i, item) {
                        $.tmpl("songListTemplate", item).appendTo("#songlist");
                    });
                });
                $(".song").live("click", function () {
                    selectedItem = $.tmplItem(this);
                    var songinfo = $.getJSON(selectedItem.data.Url, function (item) {
                        $("#songinfo").empty();
                        $.tmpl("songTemplate", item).appendTo("#songinfo");
                    });
                    var url = selectedItem.data.Url + '?play=true';
                    $('audio').prop('src', url);
                    audioElem.play();
                    SearchGuitarParty(selectedItem.data.Title);
                });
                //TODO: Make true single page app.. not these stupid click functions
                $('#addsongs').click(function () {
                    $('#songs').hide();
                    $('#upload').show();
                });
                $('#getsongs').click(function () {
                    $('#upload').hide();
                    $('#songs').show();
                });
                $('#searchform').submit(function () {
                    var queryString = $(this).formSerialize();
                    $.get('/api/music',
                            queryString,
                            function (items) {
                                $("#songlist").empty();
                                $.each(items, function (i, item) {
                                    $.tmpl("songListTemplate", item).appendTo("#songlist");
                                });
                            });
                    return false;
                });
                (function () {
                    var bar = $('.bar');
                    var percent = $('.percent');
                    var status = $('#status');
                    $('#ajaxform').ajaxForm({
                        beforeSend: function () {
                            status.empty();
                            var percentVal = '0%';
                            bar.width(percentVal)
                            percent.html(percentVal);
                        },
                        uploadProgress: function (event, position, total, percentComplete) {
                            var percentVal = percentComplete + '%';
                            bar.width(percentVal)
                            percent.html(percentVal);
                        },
                        complete: function (xhr) {
                            status.html(xhr.responseText);
                        },
                        success: function (data) {
                            $("#songlist").empty();
                            $.getJSON('/api/music/', function (items) {
                                $.each(items, function (i, item) {
                                    $.tmpl("songListTemplate", item).appendTo("#songlist");
                                });
                            });
                            $('#upload').hide();
                            $('#songs').show();
                        }
                    });
                })();
            });
            function SearchGuitarParty(search_phrase) {
                console.log(search_phrase);
                $.ajaxSetup({ beforeSend: function (xhr) { xhr.setRequestHeader('Guitarparty-Api-Key', guitargripapikey); } });

                $.getJSON('http://api.guitarparty.com/v2/songs/?query=' + search_phrase, function (data) {
                    if (data.objects_count == 0) {
                        $('#main aside').html('<p>Could not find match</p>');
                    }
                    else if (data.objects_count == 1) {
                        getGuitarPartySong('http://api.guitarparty.com' + data.objects[0].uri)
                    }
                    else {
                        var items = [];
                        $.each(data.objects, function (key, val) {
                            items.push('<li id="' + key + '"><a onclick="javascript:getGuitarPartySong(this.href); return false;" href="http://api.guitarparty.com' + val.uri + '">' + val.title + '</a></li>');
                        });
                        var html = '<ul>' + items.join('') + '</ul>';

                        $('#main aside').html(html);
                    }
                });
            }

            function getGuitarPartySong(uri) {
                $.ajaxSetup({ beforeSend: function (xhr) { xhr.setRequestHeader('Guitarparty-Api-Key', guitargripapikey); } });

                $.getJSON(uri, function (data) {
                    $("#main aside").html('');
                    $.tmpl("guitarpartysong", data).appendTo("#main aside");
                    //$('#main aside').html('<h1>' + data.title + '</h1><br />' + data.body + '<br />');
                });
            }
        </script>
    </head>
    <body>
	
    <div id="header-container">
		<header class="wrapper clearfix">
			<h1 id="title">@Html.ActionLink("The MusicMashup api!", "Index", "Home")</h1>
			<nav>
				<ul>
					<li><a id="getsongs" href="#index">All songs</a></li>
					<li><a id="addsongs" href="#addsong">Add song</a></li>
					<li><a id="about" href="#about">About</a></li>
				</ul>

            </nav>

		</header>
	</div>
	<div id="main-container">
        @RenderBody()
	</div> <!-- #main-container -->

	<div id="footer-container">
		<footer class="wrapper">
			<p>&copy; @DateTime.Now.Year - VALUR & ÆVAR</p>
		</footer>
	</div>
   
</body>
</html>